a {
  color: #eeeeee !important;
}

@font-face {
  font-family: "Anton";
  src: url("./font/Anton-Regular.ttf");
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(22, 22, 22, 0.3)),
      color-stop(75%, rgba(22, 22, 22, 0.7)),
      to(#161616)
    ),
    url("./img/mainbg.jpg");
  background: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 0.1) 0,
      rgba(22, 22, 22, 0.3) 75%,
      #161616 100%
    ),
    url("./img/mainbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  filter: grayscale();
}

.masthead h1 {
  font-family: "Anton";
}

.topNavigation ul li a {
  color: white !important;
  opacity: 0.5;
}

.topNavigation ul li a:hover {
  opacity: 1;
}

.about-section {
  padding-top: 2rem;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#161616),
    color-stop(75%, rgba(22, 22, 22, 0.9)),
    to(rgba(22, 22, 22, 0.8))
  );
  background: linear-gradient(
    to bottom,
    #161616 0,
    rgba(22, 22, 22, 0.9) 75%,
    rgba(22, 22, 22, 0.8) 100%
  );
}

.aboutDesc {
  color: rgba(255, 255, 255, 0.7) !important;
}

.contact-section {
  background-color: #161616 !important;
  padding: 40px;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.7);
}

.footer-contact-section {
  margin-top: 3rem;
}

code {
  color: white !important;
}

.codeAboutMe {
  text-align: left;
}

/* GoodRead Widget CSS */

#customize-list{
    float:left;
    margin-left:20px;
    list-style:none;
}
#gr_updates_widget{
float:left;
border-radius: 5px;
background-color:#fff;
border:solid #683205 10px;
-webkit-box-shadow: 0px 0px 4px 1px #595959,
inset 0px 0px 0px 1px #7D730B;
-moz-box-shadow: 0px 0px 4px 1px #595959,
inset 0px 0px 0px 1px #7D730B;
box-shadow: 0px 0px 4px 1px #595959,
inset 0px 0px 0px 1px #7D730B;
padding:15px 0 0px 15px;
width:1200px;
height:365px;
}
#gr_footer{
margin-bottom:0px;
height:30px;
}
#gr_updates_widget p{
padding:10px;
margin:0;
font-size:14px;
}
#gr_footer img{
width:100px;
float:left;
}
